rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users can create their own document, and read/update it.
    // An fcmToken can be written by the user.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Subscription plans are publically readable
    match /subscriptionPlans/{planId} {
        allow read: if request.auth != null;
        allow write: if false; // Only server can write
    }

    // Branding and Landing Page settings are publically readable
    match /branding/config {
      allow read: if true;
      allow write: if false; // Only server can write
    }
     match /landingPage/hero {
      allow read: if true;
      allow write: if false; // Only server can write
    }

    // All other collections are locked down to only be accessed from the server.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
